{
  "plugins": [
    "transform-object-rest-spread",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7", "ie >= 10"],
          "node": "current"
        }
      }
    ],
    "flow",
    "react"
  ],
  "retainLines": true
}
